.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    color: palevioletred;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2{
    font-size: medium;
  }